@import "./../common";

.md-toolbar-tools, .md-toolbar-, md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: $verdeRadix !important;
  color: $roxoRadix !important;
}

.sidenav-link {
    text-align: left !important;
}
