<md-button aria-label="menu" ng-click="$ctrl.toggleLeft()" class="md-fab md-primary">
  <md-icon>menu</md-icon>
</md-button>
<md-sidenav class="md-sidenav-left actions examplesSideNavBar" layout="column" md-component-id="left" md-disable-backdrop
  md-whiteframe="4">
  <md-toolbar class="md-theme-indigo" layout="row">
    <h1 class="md-toolbar-tools">Exemplos</h1>
    <md-button class="md-toolbar-icons" ng-click="$ctrl.toggleLeft()">
      <md-icon>arrow_back</md-icon>
    </md-button>
  </md-toolbar>

  <md-content layout-margin>

    <md-list ng-cloak>
      <md-list-item>
        <md-button class="sidenav-link"><a ui-sref="examples.filterBox">filterBox</a></md-button>
      </md-list-item>
      <md-list-item>
        <md-button class="sidenav-link"><a ui-sref="examples.dialogs">dialogs</a></md-button>
      </md-list-item>
    </md-list>
  </md-content>
</md-sidenav>
