@import "common/common";

html,
body {
  height: 100%;
  margin: 0
}

.app {
  display: flex;
  flex-flow: column;
  height: 100vh;
  background-color: $roxoRadix; //$lightBgColor;
  color: $lightTextColor;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.appContent {
  position:relative;
   height: 100vh;
}

.md-button.md-primary.md-fab {
  background-color:$verdeRadix !important;
}

md-icon {
  color: $roxoRadix !important;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('../app/content/fonts/materialIcons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


